In [1]:
import numpy as np
import sklearn
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder 
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.impute import SimpleImputer

In [2]:
import pandas as pd

# Load the dataset
df = pd.read_excel('C:/DATASETS/Rotten_Tomatoes_Movies3.xls')
df.head()

,movie_title,movie_info,critics_consensus,rating,genre,directors,writers,cast,in_theaters_date,on_streaming_date,runtime_in_minutes,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating
0,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,2010-06-29,83.0,20th Century Fox,Rotten,49,144,53.0
1,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,2010-10-19,90.0,Sony Pictures Classics,Certified Fresh,86,140,64.0
2,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,1997-08-27,118.0,Waner Bros.,Fresh,68,22,53.0
3,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,2001-03-06,95.0,Criterion Collection,Certified Fresh,100,51,97.0
4,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,2003-05-20,127.0,Disney,Fresh,89,27,74.0

In [3]:
df.columns

Index(['movie_title', 'movie_info', 'critics_consensus', 'rating', 'genre',
       'directors', 'writers', 'cast', 'in_theaters_date', 'on_streaming_date',
       'runtime_in_minutes', 'studio_name', 'tomatometer_status',
       'tomatometer_rating', 'tomatometer_count', 'audience_rating'],
      dtype='object')

In [4]:
df.shape

(16638, 16)

In [5]:
df.isna().sum()

movie_title              0
movie_info              24
critics_consensus     8329
rating                   0
genre                   17
directors              114
writers               1349
cast                   284
in_theaters_date       815
on_streaming_date        2
runtime_in_minutes     155
studio_name            416
tomatometer_status       0
tomatometer_rating       0
tomatometer_count        0
audience_rating        252
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16638 entries, 0 to 16637
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_title         16638 non-null  object
 1   movie_info          16614 non-null  object
 2   critics_consensus   8309 non-null   object
 3   rating              16638 non-null  object
 4   genre               16621 non-null  object
 5   directors           16524 non-null  object
 6   writers             15289 non-null  object
 7   cast                16354 non-null  object
 8   in_theaters_date    15823 non-null  datetime64[ns]
 9   on_streaming_date   16636 non-null  datetime64[ns]
 10  runtime_in_minutes  16483 non-null  float64
 11  studio_name         16222 non-null  object
 12  tomatometer_status  16638 non-null  object
 13  tomatometer_rating  16638 non-null  int64
 14  tomatometer_count   16638 non-null  int64
 15  audience_rating     16386 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(2), object(10)
memory usage: 2.0+ MB

In [7]:
df.describe()

,in_theaters_date,on_streaming_date,runtime_in_minutes,tomatometer_rating,tomatometer_count,audience_rating
count,15823,16636,16483.000000,16638.000000,16638.000000,16386.000000
mean,1999-10-24 22:10:52.973519488,2008-08-13 13:35:49.266650624,102.391494,60.466522,56.607104,60.470829
min,1914-06-01 00:00:00,1935-06-06 00:00:00,1.000000,0.000000,5.000000,0.000000
25%,1993-03-29 00:00:00,2003-01-28 00:00:00,90.000000,38.000000,12.000000,45.000000
50%,2006-08-04 00:00:00,2008-04-08 00:00:00,99.000000,66.000000,28.000000,62.000000
75%,2013-06-28 00:00:00,2014-05-12 00:00:00,111.000000,86.000000,76.000000,77.000000
max,2019-12-07 00:00:00,2019-11-01 00:00:00,2000.000000,100.000000,497.000000,100.000000
std,NaN,NaN,25.028011,28.587230,66.383800,20.462368

In [8]:
df.corr

<bound method DataFrame.corr of                                              movie_title  \
0      Percy Jackson & the Olympians: The Lightning T...
1                                            Please Give
2                                                     10
3                        12 Angry Men (Twelve Angry Men)
4                           20,000 Leagues Under The Sea
...                                                  ...
16633                                          Zoot Suit
16634                                           Zootopia
16635                                    Zorba the Greek
16636                                               Zulu
16637                                          Zulu Dawn

                                              movie_info  \
0      A teenager discovers he's the descendant of a ...
1      Kate has a lot on her mind. There's the ethics...
2      Blake Edwards' 10 stars Dudley Moore as George...
3      A Puerto Rican youth is on trial for murder, a...
4      This 1954 Disney version of Jules Verne's 20,0...
...                                                  ...
16633  Based on a 1940s Los Angeles murder trial, thi...
16634  The modern mammal metropolis of Zootopia is a ...
16635  If ever there was a role that Anthony Quinn wa...
16636  Filmed on a grand scale, Zulu is a rousing rec...
16637  A prequel to Zulu, Zulu Dawn depicts the event...

                                       critics_consensus rating  \
0      Though it may seem like just another Harry Pot...     PG
1      Nicole Holofcener's newest might seem slight i...      R
2                                                    NaN      R
3      Sidney Lumet's feature debut is a superbly wri...     NR
4      One of Disney's finest live-action adventures,...      G
...                                                  ...    ...
16633                                                NaN      R
16634  The brilliantly well-rounded Zootopia offers a...     PG
16635                                                NaN     NR
16636                                                NaN     PG
16637                                                NaN     PG

                                                   genre  \
0      Action & Adventure, Comedy, Drama, Science Fic...
1                                                 Comedy
2                                        Comedy, Romance
3                                        Classics, Drama
4               Action & Adventure, Drama, Kids & Family
...                                                  ...
16633                   Drama, Musical & Performing Arts
16634              Action & Adventure, Animation, Comedy
16635  Action & Adventure, Art House & International,...
16636                                    Classics, Drama
16637  Action & Adventure, Art House & International,...

                                  directors                      writers  \
0                            Chris Columbus                 Craig Titley
1                         Nicole Holofcener            Nicole Holofcener
2                             Blake Edwards                Blake Edwards
3                              Sidney Lumet                Reginald Rose
4                         Richard Fleischer                  Earl Felton
...                                     ...                          ...
16633                           Luis Valdez                  Luis Valdez
16634  Byron Howard, Rich Moore, Jared Bush    Jared Bush, Phil Johnston
16635                                   NaN                          NaN
16636           Cy Endfield, Cyril Endfield    Cy Endfield, John Prebble
16637                        Douglas Hickox  Cy Endfield, Anthony Storey

                                                    cast in_theaters_date  \
0      Logan Lerman, Brandon T. Jackson, Alexandra Da...       2010-02-12
1      Catherine Keener, Amanda Peet, Oliver Platt, R...       2010-04-30
2      Dudley Moore, Bo Derek, Julie Andrews, Robert ...       1979-10-05
3      Martin Balsam, John Fiedler, Lee J. Cobb, E.G....       1957-04-13
4      James Mason, Kirk Douglas, Paul Lukas, Peter L...       1954-01-01
...                                                  ...              ...
16633  Daniel Valdez, Edward James Olmos, Charles Aid...       1981-10-02
16634  Ginnifer Goodwin, Jason Bateman, Idris Elba, J...       2016-03-04
16635  Anthony Quinn, Alan Bates, Irene Papas, Lila K...       1964-12-17
16636  Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...       1964-06-17
16637  Burt Lancaster, Peter O'Toole, Simon Ward, Joh...       1979-12-14

      on_streaming_date  runtime_in_minutes                    studio_name  \
0            2010-06-29                83.0               20th Century Fox
1            2010-10-19                90.0         Sony Pictures Classics
2            1997-08-27               118.0                    Waner Bros.
3            2001-03-06                95.0           Criterion Collection
4            2003-05-20               127.0                         Disney
...                 ...                 ...                            ...
16633        2003-05-27               104.0       MCA Universal Home Video
16634        2016-06-07               108.0  Walt Disney Animation Studios
16635        2004-08-03               142.0                            Fox
16636        2001-02-02               139.0             Paramount Pictures
16637        2005-09-27               117.0            Tango Entertainment

      tomatometer_status  tomatometer_rating  tomatometer_count  \
0                 Rotten                  49                144
1        Certified Fresh                  86                140
2                  Fresh                  68                 22
3        Certified Fresh                 100                 51
4                  Fresh                  89                 27
...                  ...                 ...                ...
16633             Rotten                  56                  9
16634    Certified Fresh                  97                279
16635              Fresh                  78                  9
16636              Fresh                  95                 21
16637             Rotten                  57                  7

       audience_rating
0                 53.0
1                 64.0
2                 53.0
3                 97.0
4                 74.0
...                ...
16633             74.0
16634             92.0
16635             87.0
16636             91.0
16637             62.0

[16638 rows x 16 columns]>

In [9]:
# Separate numerical and categorical columns
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns
categorical_columns = df.select_dtypes(include=['object']).columns

print("Numerical Columns:", numerical_columns)
print("Number of Numerical Columns:", len(numerical_columns), end='\n')

print("\nCategorical Columns:", categorical_columns)
print("Number of Categorical Columns:", len(categorical_columns))

Numerical Columns: Index(['runtime_in_minutes', 'tomatometer_rating', 'tomatometer_count',
       'audience_rating'],
      dtype='object')
Number of Numerical Columns: 4

Categorical Columns: Index(['movie_title', 'movie_info', 'critics_consensus', 'rating', 'genre',
       'directors', 'writers', 'cast', 'studio_name', 'tomatometer_status'],
      dtype='object')
Number of Categorical Columns: 10

In [10]:
df.isna().sum()

movie_title              0
movie_info              24
critics_consensus     8329
rating                   0
genre                   17
directors              114
writers               1349
cast                   284
in_theaters_date       815
on_streaming_date        2
runtime_in_minutes     155
studio_name            416
tomatometer_status       0
tomatometer_rating       0
tomatometer_count        0
audience_rating        252
dtype: int64

In [11]:
# Drop 'critics_consensus' column due to a high proportion of missing values
df = df.drop(columns=['critics_consensus'])

In [12]:
# # Replace 'movie_info' with placeholder text
# df['movie_info'] = df['movie_info'].fillna("Information not available")



# # Replace 'genre', 'directors', and 'writers' with mode or placeholder
# df['genre'] = df['genre'].fillna(df['genre'].mode()[0])
# df['directors'] = df['directors'].fillna("Unknown")
# df['writers'] = df['writers'].fillna("Unknown")

# # Replace 'cast' with placeholder
# df['cast'] = df['cast'].fillna("Unknown")

# # Replace 'in_theaters_date' with the median or drop if not critical
# df['in_theaters_date'] = df['in_theaters_date'].fillna("Not available")

# # Replace 'on_streaming_date' with mode
# df['on_streaming_date'] = df['on_streaming_date'].fillna(df['on_streaming_date'].mode()[0])

# # Replace 'runtime_in_minutes' with median
# df['runtime_in_minutes'] = df['runtime_in_minutes'].fillna(df['runtime_in_minutes'].median())

# # Replace 'studio_name' with placeholder
# df['studio_name'] = df['studio_name'].fillna("Independent")

# # Handle 'audience_rating' carefully (target column)
# # Option 1: Drop rows with missing target
# df = df.dropna(subset=['audience_rating'])

# # Option 2: (Alternative) Predict or impute missing 'audience_rating'
# # Uncomment and implement a predictive model if needed
# # from sklearn.impute import KNNImputer
# # imputer = KNNImputer(n_neighbors=5)
# # df['audience_rating'] = imputer.fit_transform(df[['audience_rating']])

In [13]:
# # Ensure 'in_theaters_date' is in datetime format
# df['in_theaters_date'] = pd.to_datetime(df['in_theaters_date'], errors='coerce')

# # Extract year, month, and day as separate features
# df['in_theaters_year'] = df['in_theaters_date'].dt.year
# df['in_theaters_month'] = df['in_theaters_date'].dt.month
# df['in_theaters_day'] = df['in_theaters_date'].dt.day

# # Drop the original datetime column
# df = df.drop('in_theaters_date', axis=1)

In [14]:
# categorical_columns = df.select_dtypes(include=['object']).columns
# column_transformer = ColumnTransformer(
#     transformers=[
#         ('cat', OneHotEncoder(drop='first', sparse=False), categorical_columns)
#     ],
#     remainder='passthrough'  # Keeps numerical columns as is
# )

In [15]:
df.head()

,movie_title,movie_info,rating,genre,directors,writers,cast,in_theaters_date,on_streaming_date,runtime_in_minutes,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating
0,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,2010-06-29,83.0,20th Century Fox,Rotten,49,144,53.0
1,Please Give,Kate has a lot on her mind. There's the ethics...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,2010-10-19,90.0,Sony Pictures Classics,Certified Fresh,86,140,64.0
2,10,Blake Edwards' 10 stars Dudley Moore as George...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,1997-08-27,118.0,Waner Bros.,Fresh,68,22,53.0
3,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,2001-03-06,95.0,Criterion Collection,Certified Fresh,100,51,97.0
4,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,2003-05-20,127.0,Disney,Fresh,89,27,74.0

In [16]:
df.head()

,movie_title,movie_info,rating,genre,directors,writers,cast,in_theaters_date,on_streaming_date,runtime_in_minutes,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating
0,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,2010-06-29,83.0,20th Century Fox,Rotten,49,144,53.0
1,Please Give,Kate has a lot on her mind. There's the ethics...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,2010-10-19,90.0,Sony Pictures Classics,Certified Fresh,86,140,64.0
2,10,Blake Edwards' 10 stars Dudley Moore as George...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,1997-08-27,118.0,Waner Bros.,Fresh,68,22,53.0
3,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,2001-03-06,95.0,Criterion Collection,Certified Fresh,100,51,97.0
4,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,2003-05-20,127.0,Disney,Fresh,89,27,74.0